@charset "UTF-8";
@import url(normalize.css);
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type='number'] {
  -moz-appearance: textfield; }

button:active, button:focus {
  outline: none; }

button::-moz-focus-inner {
  border: none; }

html {
  overflow-x: hidden; }

body {
  padding: 0;
  margin: 0;
  font-family: "OpenSans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

textarea:focus,
input:focus {
  outline: none; }

li {
  list-style-type: none; }

section {
  width: 100%;
  height: auto;
  display: block;
  padding: 40px 0; }

p {
  margin: 0;
  padding: 0; }

h1 {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-top: 250px; }

h2 {
  margin: 0;
  text-align: center;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 36px; }

.main_head {
  margin-bottom: 40px; }

#video-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  background: url(../img/bg_header.jpg); }
  #video-bg video {
    position: absolute;
    top: 0;
    left: 0; }

.logo {
  background: url(../img/logo.png);
  display: block;
  width: 210px;
  height: 80px;
  margin-top: 15px; }

nav {
  position: fixed;
  top: 0;
  background: transparent;
  width: 100%;
  height: 110px;
  -webkit-transition: all 0.2s linear;
          transition: all 0.2s linear;
  z-index: 30; }

.showNav {
  top: 0;
  z-index: 30;
  background: #021246; }

.hideNav {
  top: -120px;
  background: transparent; }

.header_list {
  padding-top: 30px;
  text-align: center; }
  .header_list li {
    display: inline-block;
    padding-right: 15px; }
    .header_list li a {
      font-size: 12px;
      text-transform: uppercase;
      color: #fff; }
      .header_list li a:hover {
        -webkit-transition: ease 0.3s;
                transition: ease 0.3s;
        color: #10ade4; }

.nav_button {
  text-align: right;
  color: #fff;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  background: #10ade4;
  border: none;
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 35px; }
  .nav_button:hover {
    -webkit-transition: ease 0.3s;
            transition: ease 0.3s;
    background: #0e9bcd; }

.button_header {
  text-align: center;
  margin-top: 50px; }
  .button_header p {
    padding-top: 10px;
    font-size: 20px;
    color: #d4d4d4; }

.button_gradient {
  background: #00ccff;
  background: -webkit-linear-gradient(left, #00ccff 0%, #00bcf8 44%, #00a5ef 57%, #00a2ed 100%);
  background: linear-gradient(to right, #00ccff 0%, #00bcf8 44%, #00a5ef 57%, #00a2ed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ccff', endColorstr='#00a2ed',GradientType=1 );
  border: none;
  border-radius: 40px;
  padding: 25px 70px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff; }
  .button_gradient:hover {
    background: #00b7e5; }

#modal_close {
  position: absolute;
  right: 30px;
  top: 15px;
  width: 25px;
  height: 25px;
  z-index: 10;
  cursor: pointer; }
  #modal_close:before, #modal_close:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 20px;
    width: 2px;
    background: #10ade4; }
  #modal_close:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  #modal_close:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.mymagicoverbox_fenetre {
  width: 570px;
  left: -340px;
  z-index: 9999;
  position: fixed;
  margin-left: 50%;
  top: 20px;
  text-align: center;
  display: none;
  background: url(../img/bg_popup.jpg) no-repeat; }
  .mymagicoverbox_fenetre h2 {
    font-family: "OpenSans-Bold", sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    letter-spacing: 0;
    padding-top: 50px;
    padding-bottom: 10px; }
  .mymagicoverbox_fenetre p {
    text-align: center;
    font-size: 13px;
    color: #fff; }

.mymagicoverbox_fenetreinterieur {
  height: 400px;
  text-align: center;
  overflow: auto;
  margin-top: 10px; }

#myfond_gris {
  display: none;
  background-color: #000000;
  opacity: 0.88;
  width: 100%;
  height: 100%;
  z-index: 9998;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

input {
  background: #fff;
  border: 1px solid #020740;
  border-radius: 5px;
  color: #020740;
  text-align: left;
  font-size: 13px;
  padding: 10px 0;
  padding-left: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  width: 88%;
  float: left; }
  input::-webkit-input-placeholder {
    color: #020740; }
  input::-moz-placeholder {
    color: #020740; }
  input:-ms-input-placeholder {
    color: #020740; }
  input::placeholder {
    color: #020740; }
  input:focus {
    color: #020740;
    -webkit-transition: ease 0.4s;
            transition: ease 0.4s; }

textarea {
  font-size: 13px;
  background: #fff;
  width: 100%;
  min-height: 120px;
  border: 1px solid #020740;
  border-radius: 6px;
  resize: none;
  padding: 15px 10px; }
  textarea:focus {
    color: #020740; }
  textarea::-webkit-input-placeholder {
    color: #020740; }
  textarea::-moz-placeholder {
    color: #020740; }
  textarea:-ms-input-placeholder {
    color: #020740; }
  textarea::placeholder {
    color: #020740; }
    textarea::-webkit-input-placeholder:focus {
      color: transparent; }
    textarea::-moz-placeholder:focus {
      color: transparent; }
    textarea:-ms-input-placeholder:focus {
      color: transparent; }
    textarea::placeholder:focus {
      color: transparent; }

.btn_form {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background: #020740;
  padding: 15px 55px;
  margin-top: 25px;
  border: #020740;
  border-radius: 6px; }
  .btn_form:hover {
    -webkit-transition: ease 0.3s;
            transition: ease 0.3s;
    background: #010639; }

.about_frontend {
  padding: 0;
  margin-top: 40px; }
  .about_frontend img {
    width: 336px;
    height: 459px;
    padding-top: 20px; }
  .about_frontend h2 {
    text-align: left;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 30px; }
  .about_frontend span {
    text-transform: uppercase; }
  .about_frontend_info {
    padding-top: 80px;
    text-align: left; }
    .about_frontend_info p {
      font-size: 23px;
      line-height: 1.1; }

.big_img_about {
  height: 459px !important;
  text-align: center; }

.frontend_info {
  background: url(../img/bg_frontend_info.jpg) no-repeat center center;
  background-size: cover;
  min-height: 500px; }
  .frontend_info span {
    text-transform: uppercase; }
  .frontend_info h2 {
    padding: 20px 0;
    color: #29abe2;
    text-align: center;
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 36px; }
  .frontend_info_text h5 {
    font-size: 20px;
    text-transform: uppercase;
    color: #29abe2;
    margin: 0;
    padding-bottom: 30px;
    padding-top: 5px;
    text-align: left; }
  .frontend_info_text p {
    color: #fff;
    text-align: left;
    margin-bottom: 20px; }
  .frontend_info_text_img {
    display: block;
    width: 53px;
    height: 53px; }

.bg_program {
  background: #f8f8f8; }
  .bg_program h2 {
    padding-top: 20px;
    margin-bottom: 50px; }

.transition, dl, .program_list li i:before, .program_list li i:after {
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out; }

.flipIn, .program_list li {
  -webkit-animation: flipdown 0.5s ease both;
          animation: flipdown 0.5s ease both; }

.no-select, h3 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

h3 {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  background: #fff;
  color: #4e4e4e;
  margin: 0;
  padding: 15px;
  cursor: pointer; }

dl {
  color: #4e4e4e;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  z-index: 2; }

dt {
  list-style-type: disc;
  padding-left: 30px; }
  dt:before {
    content: "•";
    padding-right: 5px; }

.program_list {
  list-style: none;
  -webkit-perspective: 900;
          perspective: 900;
  padding: 0;
  margin: 0; }
  .program_list li {
    position: relative;
    padding: 0;
    margin: 10px 0; }
    .program_list li:nth-of-type(1) {
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s; }
    .program_list li:nth-of-type(2) {
      -webkit-animation-delay: 0.75s;
              animation-delay: 0.75s; }
    .program_list li:nth-of-type(3) {
      -webkit-animation-delay: 1s;
              animation-delay: 1s; }
    .program_list li:nth-of-type(4) {
      -webkit-animation-delay: 1.2s;
              animation-delay: 1.2s; }
    .program_list li:nth-of-type(5) {
      -webkit-animation-delay: 1.4s;
              animation-delay: 1.4s; }
    .program_list li:last-of-type {
      padding-bottom: 0; }
    .program_list li i {
      position: absolute;
      -webkit-transform: translate(-6px, 0);
          -ms-transform: translate(-6px, 0);
              transform: translate(-6px, 0);
      margin-top: 16px;
      right: 15px;
      top: 15px; }
      .program_list li i:before, .program_list li i:after {
        content: "";
        position: absolute;
        background: #10ade4;
        width: 4px;
        height: 9px; }
      .program_list li i:before {
        -webkit-transform: translate(-2px, 0) rotate(45deg);
            -ms-transform: translate(-2px, 0) rotate(45deg);
                transform: translate(-2px, 0) rotate(45deg); }
      .program_list li i:after {
        -webkit-transform: translate(2px, 0) rotate(-45deg);
            -ms-transform: translate(2px, 0) rotate(-45deg);
                transform: translate(2px, 0) rotate(-45deg); }
    .program_list li input[type=checkbox] {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0; }
      .program_list li input[type=checkbox]:checked ~ dl {
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        -webkit-transform: translate(0, 50%);
            -ms-transform: translate(0, 50%);
                transform: translate(0, 50%); }
      .program_list li input[type=checkbox]:checked ~ i:before {
        -webkit-transform: translate(2px, 0) rotate(45deg);
            -ms-transform: translate(2px, 0) rotate(45deg);
                transform: translate(2px, 0) rotate(45deg); }
      .program_list li input[type=checkbox]:checked ~ i:after {
        -webkit-transform: translate(-2px, 0) rotate(-45deg);
            -ms-transform: translate(-2px, 0) rotate(-45deg);
                transform: translate(-2px, 0) rotate(-45deg); }

@-webkit-keyframes flipdown {
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }
  5% {
    opacity: 1; }
  80% {
    -webkit-transform: rotateX(8deg);
            transform: rotateX(8deg); }
  83% {
    -webkit-transform: rotateX(6deg);
            transform: rotateX(6deg); }
  92% {
    -webkit-transform: rotateX(-3deg);
            transform: rotateX(-3deg); }
  100% {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); } }

@keyframes flipdown {
  0% {
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg); }
  5% {
    opacity: 1; }
  80% {
    -webkit-transform: rotateX(8deg);
            transform: rotateX(8deg); }
  83% {
    -webkit-transform: rotateX(6deg);
            transform: rotateX(6deg); }
  92% {
    -webkit-transform: rotateX(-3deg);
            transform: rotateX(-3deg); }
  100% {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg); } }
.button_program {
  text-align: center;
  padding: 40px 0; }

.present {
  padding-bottom: 80px; }
  .present h2 {
    padding: 20px 0; }
  .present_img {
    width: 240px;
    height: 240px; }
  .present h5 {
    font-size: 16px;
    font-family: "OpenSans-Bold", sans-serif;
    margin-top: 20px 0 0 0;
    height: 30px;
    text-transform: uppercase;
    padding-left: 15px; }
  .present p {
    font-size: 14px;
    padding-top: 20px;
    padding-left: 15px; }
  .present_button {
    padding-top: 50px;
    text-align: center; }
    .present_button a {
      padding: 20px 70px;
      font-size: 20px;
      font-family: "OpenSans-Bold", sans-serif; }

.bg_plus {
  background: url(../img/bg_plus.jpg);
  background-size: cover; }
  .bg_plus h2 {
    text-align: center;
    color: #fff;
    padding-top: 40px; }

.block_plus {
  text-align: center;
  padding: 40px; }
  .block_plus_img {
    text-align: center; }
    .block_plus_img img {
      width: 98px;
      height: 97px; }
  .block_plus h5 {
    font-family: "OpenSans-Light", sans-serif;
    font-weight: 300;
    font-size: 25px;
    color: #fff;
    margin: 20px 0; }
  .block_plus p {
    font-size: 16px;
    color: #fff;
    line-height: 1.2; }
