/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.base:before{
		display: none;
	}
	.header_list li a{
		font-size: 11px;
	}
	.nav_button {
		font-size: 11px;
	}
}

/* Ipad Pro Devices, Desktops */
@media only screen and (max-width : 1024px) {
	.nav li a {
		font-size: 11px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	video {
		display: none;
	}
	nav {
		display: none;
	}
	.showNav {
		background: transparent !important;
	}
	.open	{
		position: fixed;
		z-index: 1000;
		background: rgba(0,0,0,.4);
		display: block;
	}

	/*Popup*/
	#modal_close{
		top: 10px;
		right: 30px;
	}
	.mymagicoverbox_fenetre h2 {
		font-size: 18px;
		padding-top: 40px;
	}
	.mymagicoverbox_fenetre p {
		font-size: 11px;
		padding: 0 10px;
	}
	.mymagicoverbox_fenetre {
		width: 316px;
		left: -158px;
		z-index: 9999 !important;
		position: fixed;
		margin-left: 50%;
	}
	.mymagicoverbox_fenetreinterieur {
		max-height: 300px;
	}
	.mymagicoverbox_fenetreinterieur input {
		text-align: left;
		padding-top: 10px;
		margin-bottom: 5px;
		font-size: 11px;
		width: 100%;
	}
	.mymagicoverbox_fenetreinterieur textarea {
		font-size: 11px;
		width: 100%;
		min-height: 60px;
	}
	.mymagicoverbox_fenetreinterieur .btn_form {
		text-align: center;
		font-size: 15px;
		padding: 5px 50px;
		margin-top: 25px;
	}
	.adaptive_logo {
		display: block;
		margin: 70px auto;
		margin-bottom: 30px;
	}
	/* Popup 7 seconds*/
	#overlay, .popup {
		display: none !important;
	}

	h1 {
		font-size: 20px;
		margin: 0; 
	}
	h2 {
		font-size: 14px;
	}
	.button_gradient {
		padding: 25px 30px;
		font-size: 12px;
	}
	.button_header p {
		font-size: 16px;
	}

	/* About frontend */
	.big_img_about {
		display: none;
	}
	.about_frontend {
		margin: 0 0 40px 0;
	}
	.about_frontend_info {
		padding-top: 0;
	}
	.about_frontend_info h2 {
		font-size: 14px;
		padding-bottom: 15px;
	}

	/* Frontend info */
	.frontend_info h2 {
		font-size: 14px;
	}
	.frontend_info h5 {
		font-size: 12px;
	}
	.frontend_info p {
		font-size: 11px;
	}

	/* Сourse program */
	.bg_program h2 {
		margin-bottom: 40px;
	}
	.program_list h3 {
		font-size: 11px;
		letter-spacing: 0;
	}
	.program_list li i {
		top: 5px;
	}
	.program_list dl {
		font-size: 11px;
	}
	.flipIn:nth-of-type(1) {
		animation-delay: 0.2s;
	}
	.flipIn:nth-of-type(2) {
		animation-delay: 0.25s;
	}
	.flipIn:nth-of-type(3) {
		animation-delay: 0.35s;
	}
	.flipIn:nth-of-type(4) {
		animation-delay: 0.4s;
	}
	.flipIn:nth-of-type(5) {
		animation-delay: 0.45s;
	}
	.button_program {
		padding-bottom: 0;
	}

	/* Present */
	.present {
		padding-bottom: 40px;
	}
	.present h2 {
		padding-top: 0;
	}
	.present_img {
		width: 120px;
		height: 130px;
	}
	.present_img img {
		width: 119px;
		height: 130px;
	}
	.present h5 {
		font-size: 12px;
		margin: 5px 0;
	}
	.present p {
		font-size: 11px;
		padding: 10px 0 20px 0;
	}

	/* About us */
	.bg_plus {
		padding-bottom: 0;
	}
	.bg_plus h2 {
		padding: 0 0 40px 0;
	}
	.block_plus {
		padding: 0 10px;
	}
	.block_plus h5 {
		font-size: 18px;
		margin: 10px 0;
	}
	.block_plus p {
		font-size: 12px;
		padding-bottom: 40px;
	}

	/* Teacher */
	.teacher h2 {
		margin: 0 0 20px 0;
	}
	.teacher_img {
		text-align: center;
	}
	.teacher_img img {
		width: 166px;
		height: 166px;
	}
	.teacher_info {
		text-align: center;
		padding-top: 20px;
	}
	.teacher_info h2 {
		font-size: 18px;
		text-align: center;
	}
	.teacher_info span {
		font-size: 14px;
	}
	.teacher_info p {
		font-size: 11px;
	}

	/* Reviews */
	.top_reviews .nav_button {
		margin-top: 16px;
	}
	.top_reviews_text {
		padding-top: 280px;
	}
	.top_reviews_text h2 {
		font-size: 22px;
	}
	.reviews_wrap:before {
		content: "";
	}
	.reviews_wrap {
		text-align: center;
		margin: 0 auto;
		max-width: 100%;
		background: none;
		box-shadow: none;
	}
	.reviews_img {
		float: none;
	}
	.reviews_img img {
		border-radius: 0;
		margin: 0;
	}
	.reviews_text h4 {
		font-size: 18px;
		padding: 10px 0;
	}
	.reviews_text span {
		font-size: 12px;
	}
	.reviews_text p {
		font-size: 11px;
		padding: 10px 20px 40px 20px;
	}

	/* Statistic */
	.statistic h1 {
		font-size: 18px;
	}

	/* Cost */
	.cost_desktop {
		display: none;
	}
	.cost_adaptive {
		display: block;
	}
	.cost {
		padding-bottom: 40px;
	}
	.cost h2{
		padding: 0 0 20px 0;
	}

	/* Заставьте таблицу больше не вести себя как таблица */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}

	/* Скройте заголовки таблицы (но в целях доступности не с display: none;) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	th {
		background: #61abe1;
		color: #fff;
		padding: 15px 0;
		font-size: 18px;
	}

	th button {
		background: transparent;
		border: transparent;
	}

	td { 
		/* Поведение как у «строки» */
		border: none;
		position: relative;
		width: 100%;
		text-align: center;
		font-size: 12px;
		color: #4f4f4f;
		padding: 10px 0;
	}
	td:nth-child(even) {
		background: #f8fcff;
	}
	td:nth-child(odd) {
		background: #eaf9ff;
	}
	td span {
		font-size: 14px;
		font-family: "OpenSans-Bold", sans-serif;
	}
	tr:nth-child(odd) {
		padding-top: 20px;
	}

	td:before { 
		/* Теперь как у заголовка таблицы */
		position: absolute;
		/* Значения top/left имитируют отступ */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 9px; 
		white-space: nowrap;
	}

	/* Present form */
	.present_form h2 {
		padding: 0 0 40px 0;
	}
	.present_form img {
		width: 450px;
		height: 270px;
	}
	.present_form p {
		font-size: 14px;
		text-align: center;
		margin-top: 40px;
	}
	.present_form input {
		width: 100%;
		padding: 10px;
	}
	.present_form button {
		width: 100%;
		padding: 10px;
		margin-bottom: 40px;
	}

	/* Questions */
	.questions h2 {
		padding: 0 0 40px 0;
	}
	.headerAcc {
		font-family: "OpenSans-Bold", sans-serif;
		font-size: 12px;
		line-height: 1.1;
		padding: 3px 15px;
		text-align: center;
	}
		
	/* Contacts */
	.contacts h2 {
		padding: 0 0 40px 0;
	}
	.bg_contacts .nav_button {
		margin-top: 16px;
	}
	.top_contacts h2 {
		font-size: 22px;
	}
	.top_contacts {
		padding-top: 200px;
	}
	.top_contacts p {
		font-size: 11px;
		padding-top: 20px;
	}
	.contacts_wrap {
		box-shadow: none;
		position: inherit;
	}
	.contacts_wrap_form {
		min-height: 465px;
	}
	.contacts_wrap_form_block {
		padding: 40px 0 40px 0;
	}
	.contacts_wrap_form_block p {
		text-align: center;
	}
	.contacts_form input {
		width: 100%;
		padding-top: 0;
	}
	.contacts_form textarea {
		width: 100%;
		padding-top: 10px;
	}
	.contacts_form button {
		margin-bottom: 40px;
		text-align: center;
	}
	.contacts_adaptive {
		padding: 0;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 769px) {
	.present_img {
		width: 240px;
		height: 240px;
	}
	.present_img img{
		width: 240px;
		height: 240px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 993px) {
	video{
		display: block;
	}
	nav{
		display: block;
	}
	.open {
		display: none;
	}
	.adaptive_logo {
		display: none;
	}
	.big_img_about {
		display: block;
	}
	table {
		display: none;
	}
	.cost_desktop {
		display: block;
	}
	.cost_adaptive {
		display: none;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media only screen and (max-width: 500px), (min-device-width: 768px) and (max-device-width: 1024px) {

	}