@charset "UTF-8"
@import "bourbon/bourbon"
@import url(normalize.css)

$main-color: #10ade4

//Убрать стрелки у формы телефона
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none
// Для Firefox
input
	&[type='number']
		-moz-appearance: textfield

//Убрать свечение кнопок в браузере
button:active, button:focus
	outline: none
button::-moz-focus-inner 
	border: none 

html
	overflow-x: hidden
body
	padding: 0
	margin: 0
	font-family: "OpenSans", sans-serif
	font-weight: normal
	font-size: 14px
	line-height: 1.4
	overflow-x: hidden
	-webkit-overflow-scrolling: touch /*Убирает скролл у ios*/
textarea,
input,
	&:focus
		outline: none
li
	list-style-type: none

section
	width: 100%
	height: auto
	display: block
	padding: 40px 0
p
	margin: 0
	padding: 0
h1
	font-family: "OpenSans-Bold", sans-serif
	font-weight: 800
	font-size: 40px
	text-transform: uppercase
	text-align: center
	color: #fff
	margin-top: 250px
h2
	margin: 0
	text-align: center
	font-family: "OpenSans-Bold", sans-serif
	font-size: 36px


.main_head
	margin-bottom: 40px
#video-bg
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	overflow: hidden
	z-index: -1
	background: url(../img/bg_header.jpg)
	video 
		position: absolute
		top: 0
		left: 0

.logo
	background: url(../img/logo.png)
	display: block
	width: 210px
	height: 80px
	margin-top: 15px
nav 
	position: fixed
	top: 0
	background: transparent
	width: 100%
	height: 110px
	transition: all 0.2s linear
	z-index: 30

// Fixed nav top ----------------- */
.showNav
	top: 0
	z-index: 30
	background: #021246
.hideNav
	top: -120px
	background: transparent

// Nav header ----------------- */
.header_list
	padding-top: 30px 
	text-align: center
	li
		display: inline-block
		padding-right: 15px
		a
			font-size: 12px
			text-transform: uppercase
			color: #fff
			&:hover
				transition: ease .3s
				color: $main-color
.nav_button
	text-align: right
	color: #fff
	font-family: "OpenSans-Bold", sans-serif
	font-size: 12px
	text-transform: uppercase
	background: $main-color
	border: none
	border-radius: 5px
	padding: 15px 10px
	margin-top: 35px
	&:hover
		transition: ease .3s
		background: $main-color * 0.9

.button_header
	text-align: center
	margin-top: 50px
	p
		padding-top: 10px
		font-size: 20px
		color: #d4d4d4
.button_gradient
	background: #00ccff /* Old browsers */
	background: -moz-linear-gradient(left, #00ccff 0%, #00bcf8 44%, #00a5ef 57%, #00a2ed 100%) /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #00ccff 0%,#00bcf8 44%,#00a5ef 57%,#00a2ed 100%) /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #00ccff 0%,#00bcf8 44%,#00a5ef 57%,#00a2ed 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ccff', endColorstr='#00a2ed',GradientType=1 ) /* IE6-9 */
	border: none
	border-radius: 40px
	padding: 25px 70px
	font-size: 16px
	text-transform: uppercase
	color: #fff
	&:hover
		background: #00ccff * 0.9 


/* Burger ----------------- */
.open 
	position: absolute
	top: 10px
	left: 20px
	width: 50px
	height: 50px
	display: none
	cursor: pointer
	-webkit-transition: opacity 0.2s linear
	transition: opacity 0.2s linear 

	&:hover 
		opacity: 1 
	span 
		display: block
		float: left
		clear: both
		height: 4px
		width: 40px
		border-radius: 40px
		background-color: #1b7395
		position: absolute
		right: 5px
		top: 3px
		overflow: hidden
		-webkit-transition: all 0.4s ease
		transition: all 0.4s ease 
		&:nth-child(1) 
			margin-top: 5px
			z-index: 9 
		&:nth-child(2) 
			margin-top: 20px 
		&:nth-child(3) 
			margin-top: 35px 

.sub-menu 
	-webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55)
	transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55)
	height: 0
	width: 0
	right: 0
	top: 0
	position: absolute
	background-color: rgba(31, 31, 31, 0.9)
	border-radius: 50% 0 50%
	z-index: 18
	overflow: hidden 
	li 
		display: block
		float: left
		clear: both
		height: auto
		margin-left: 80px
		-webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
		transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) 
		&:first-child 
			margin-top: 180px
		&:nth-child(1) 
			-webkit-transition-delay: 0.05s 
		&:nth-child(2) 
			-webkit-transition-delay: 0.1s 
		&:nth-child(3) 
			-webkit-transition-delay: 0.15s 
		&:nth-child(4) 
			-webkit-transition-delay: 0.2s 
		&:nth-child(5) 
			-webkit-transition-delay: 0.25s 
		a 
			color: #fff
			font-size: 13px
			width: 220px
			display: block
			float: left
			padding: 2px
			&:active 
				color: #29abe2 
			&:first-child 
				margin-top: 5px 
			&:last-child 
				font-size: 18px
				font-weight: 700
	
.oppenned 
	.sub-menu 
		opacity: 1
		height: auto
		width: 400px
		padding-bottom: 40px 
	span
		&:nth-child(2) 
			overflow: visible 
		&:nth-child(1),
		:nth-child(3) 
			z-index: 100
			-webkit-transform: rotate(45deg)
			-ms-transform: rotate(45deg)
			transform: rotate(45deg) 
		&:nth-child(1) 
			-webkit-transform: rotate(45deg) translateY(12px) translateX(12px)
			-ms-transform: rotate(45deg) translateY(12px) translateX(12px)
			transform: rotate(45deg) translateY(12px) translateX(12px) 
		&:nth-child(2) 
			height: 400px
			width: 400px
			right: -240px
			top: -160px
			border-radius: 50%
			background-color: rgba(252, 252, 252, 0) 
		&:nth-child(3) 
			-webkit-transform: rotate(-45deg) translateY(-10px) translateX(10px)
			-ms-transform: rotate(-45deg) translateY(-10px) translateX(10px)
			transform: rotate(-45deg) translateY(-10px) translateX(10px) 
	li 
		margin-right: 168px 
.sub-menu 
	.block__main_text 
		padding-top: 15px
		width: 160px
.burger_text 
	color: #fff
	width: 200px
	p
		margin: 0
		padding-top: 20px
		padding-bottom: 5px
.burger_button
	background: $main-color
	border: none
	padding: 8px 15px
	border-radius: 5px
	color: #fff

/* Pop up ----------------- */
#modal_close
	position: absolute
	right: 30px
	top: 15px
	width: 25px
	height: 25px
	z-index: 10
	cursor: pointer
	&:before, 
	&:after
		position: absolute
		left: 15px
		content: ' '
		height: 20px
		width: 2px
		background: $main-color
	&:before
		transform: rotate(45deg)
	&:after
		transform: rotate(-45deg)
.mymagicoverbox_fenetre
	width: 570px
	left: -340px
	z-index: 9999
	position: fixed
	margin-left: 50%
	top: 20px
	text-align: center
	display: none
	background: url(../img/bg_popup.jpg) no-repeat
	h2
		font-family: "OpenSans-Bold", sans-serif
		font-weight: 700
		font-size: 32px
		color: #fff
		letter-spacing: 0
		padding-top: 50px
		padding-bottom: 10px
	p
		text-align: center
		font-size: 13px
		color: #fff
.mymagicoverbox_fenetreinterieur
	height: 400px
	text-align: center
	overflow: auto
	margin-top: 10px
#myfond_gris
	display: none
	background-color: #000000
	opacity: 0.88
	width: 100%
	height: 100%
	z-index: 9998
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
input
	background: #fff
	border: 1px solid #020740
	border-radius: 5px
	color: #020740
	text-align: left
	font-size: 13px
	padding: 10px 0
	padding-left: 10px
	margin-bottom: 5px
	margin-right: 5px
	width: 88%
	float: left
	&::placeholder
		color: #020740
	&:focus
		color: #020740
		transition: ease .4s
textarea
	font-size: 13px
	background: #fff
	width: 100%
	min-height: 120px
	border: 1px solid #020740
	border-radius: 6px
	resize: none
	padding: 15px 10px
	&:focus
		color: #020740
	&::placeholder
		color: #020740
		&:focus
			color: transparent
.btn_form
	text-align: center
	font-weight: 400
	font-size: 16px
	color: #fff
	background: #020740
	padding: 15px 55px
	margin-top: 25px
	border: #020740
	border-radius: 6px
	&:hover
		transition: ease .3s
		background: #020740 * 0.9

/* About frontend ----------------- */
.about_frontend
	padding: 0
	margin-top: 40px
	img
		width: 336px
		height: 459px
		padding-top: 20px
	h2
		text-align: left
		font-family: "OpenSans-Bold", sans-serif
		font-size: 30px
	span
		text-transform: uppercase
	&_info
		padding-top: 80px
		text-align: left
		p
			font-size: 23px
			line-height: 1.1
.big_img_about
	height: 459px !important
	text-align: center

/* Frontend info ----------------- */
.frontend_info
	background: url(../img/bg_frontend_info.jpg) no-repeat center center
	background-size: cover
	min-height: 500px
	span
		text-transform: uppercase
	h2
		padding: 20px 0
		color: #29abe2
		text-align: center
		font-family: "OpenSans-Bold", sans-serif
		font-size: 36px
	&_text 
		h5
			font-size: 20px
			text-transform: uppercase
			color: #29abe2
			margin: 0
			padding-bottom: 30px
			padding-top: 5px
			text-align: left
		p
			color: #fff
			text-align: left
			margin-bottom: 20px
		&_img
			display: block
			width: 53px
			height: 53px


/*  Course program ----------------- */
.bg_program
	background: #f8f8f8
	h2
		padding-top: 20px
		margin-bottom: 50px

.transition
	transition: all 0.25s ease-in-out
.flipIn
	animation: flipdown 0.5s ease both
.no-select
	-webkit-tap-highlight-color: rgba(0,0,0,0)
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
h3
	font-size: 25px
	font-weight: 300
	letter-spacing: 1px
	text-transform: uppercase
	display: block
	background: #fff
	color: #4e4e4e
	margin: 0
	padding: 15px
	cursor: pointer
	@extend .no-select
dl
	color: #4e4e4e
	font-size: 15px
	position: relative
	overflow: hidden
	max-height: 800px
	@extend .transition
	opacity: 1
	transform: translate( 0 , 0 )  
	z-index: 2
dt
	list-style-type: disc
	padding-left: 30px
	&:before
		content: "\2022"
		padding-right: 5px

.program_list
	list-style: none
	perspective: 900
	padding: 0
	margin: 0
	li
		position: relative
		padding: 0
		margin: 10px 0
		@extend .flipIn			
		&:nth-of-type(1)
			animation-delay: 0.5s
		&:nth-of-type(2)
			animation-delay: 0.75s
		&:nth-of-type(3)
			animation-delay: 1.0s
		&:nth-of-type(4)
			animation-delay: 1.2s
		&:nth-of-type(5)
			animation-delay: 1.4s
		&:last-of-type
			padding-bottom: 0
		i
			position: absolute
			transform: translate( -6px , 0 )
			margin-top: 16px
			right: 15px
			top: 15px
			&:before , &:after
				content: ""
				@extend .transition
				position: absolute
				background: $main-color
				width: 4px
				height: 9px
			&:before
				transform: translate( -2px , 0 ) rotate( 45deg )				
			&:after
				transform: translate( 2px , 0 ) rotate( -45deg )
	
		input[type=checkbox]
			position: absolute
			cursor: pointer
			width: 100%
			height: 100%
			z-index: 1
			opacity: 0
			&:checked
				&~dl
					margin-top: 0
					max-height: 0
					opacity: 0
					transform: translate( 0 , 50% )
				&~i
					&:before
						transform: translate( 2px , 0 ) rotate( 45deg )
					&:after
						transform: translate( -2px , 0 ) rotate( -45deg )
@keyframes flipdown
	0%
		opacity: 0
		transform-origin: top center
		transform: rotateX(-90deg)
	5%
		opacity: 1
	80%
		transform: rotateX(8deg)
	83%
		transform: rotateX(6deg)
	92%
		transform: rotateX(-3deg)
	100%
		transform-origin: top center
		transform: rotateX(0deg)

.button_program
	text-align: center
	padding: 40px 0

// presents
.present
	padding-bottom: 80px
	h2
		padding: 20px 0
	&_img
		width: 240px
		height: 240px
	h5 
		font-size: 16px
		font-family: "OpenSans-Bold", sans-serif
		margin-top: 20px 0 0 0
		height: 30px
		text-transform: uppercase
		padding-left: 15px 
	p 
		font-size: 14px
		padding-top: 20px
		padding-left: 15px
	&_button 
		padding-top: 50px
		text-align: center 
		a 
			padding: 20px 70px
			font-size: 20px
			font-family: "OpenSans-Bold", sans-serif 


/* Our plus ----------------- */
.bg_plus
	background: url(../img/bg_plus.jpg)
	background-size: cover
	h2
		text-align: center
		color: #fff
		padding-top: 40px
.block_plus
	text-align: center
	padding: 40px
	&_img
		text-align: center
		img
			width: 98px
			height: 97px
	h5
		font-family: "OpenSans-Light", sans-serif
		font-weight: 300
		font-size: 25px
		color: #fff
		margin: 20px 0
	p
		font-size: 16px
		color: #fff
		line-height: 1.2

/* Teacher ----------------- */
.teacher
	h2
		margin-top: 40px
		margin-bottom: 60px
	&_img
		text-align: right
	&_info
		padding-top: 40px
		h2
			text-align: left
			margin: 0
			font-family: "OpenSans-Light", sans-serif
		span
			display: block
			font-family: "OpenSans-Bold", sans-serif
			font-size: 20px
			margin: 15px 0

/* Reviews ----------------- */
.reviews
	padding-bottom: 0
	h2
		padding-bottom: 40px
	&_wrap
		padding: 0
		margin: 0
		background: #fff
		margin: 25px
		border-radius: 10px
		box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.45)
		max-width: 45%
		&:before
			content: url(../img/quotes.png)
			width: 94px
			height: 81px
			position: absolute
			right: 15px
			top: 10px
	&_img
		display: block
		float: left
		img
			border-radius: 9px 0 0 9px
			margin-right: 25px
			width: 253px
			height: 253px
	&_text
		h4
			position: relative
			font-family: "OpenSans-Semibold", sans-serif
			font-weight: 700
			color: #000
			font-size: 22px
			padding: 30px 0 15px 0
			margin: 0
		span
			font-weight: 300
			color: $main-color
			position: relative
		p
			color: #000
			font-size: 12px
			padding-top: 15px
			padding-right: 15px
.readmore-js-toggle
	text-align: center
	padding: 15px 0
	font-size: 20px
	color: #33cdff
	border: 1px solid #33cdff


/* Staticstic ----------------- */
.statistic
	background: url(../img/bg_statistic.jpg)
	background-size: cover
	min-height: 680px
	h1
		margin-top: 220px
		margin-bottom: 0
		line-height: 1.1
		font-family: "OpenSans-Light", sans-serif
		font-size: 48px
		text-transform: none

/* Cost ----------------- */
.cost
	padding-bottom: 90px
	h2
		padding-top: 40px
		padding-bottom: 60px
.economy,
.base,
.full
	padding: 0
	display: block
	background: #00ade4
	border-right: 4px solid #fff
	h4
		font-family: "OpenSans-Light", sans-serif
		font-size: 21px
		text-align: center
		color: #fff
		margin: 20px 0
	&:after
		content: ""
		position: absolute
		z-index: 10
		bottom: -14px
		width: 0
		height: 0
		border-style: solid
		border-width: 15px 97px 0 97px
		border-color: #00ade4 transparent transparent transparent
.full
	border: none
.base
	&:before
		content: "рекомендуем"
		text-transform: uppercase
		letter-spacing: 1px
		background: #1d70b8
		font-style: 11px
		color: #fff
		padding: 5px 20px
		position: absolute
		top: -29px
		margin-left: 19px
		border-radius: 5px 5px 0 0

.light
	padding: 15px
	background: #f7fcff
	p
		font-size: 21px
.dark
	padding: 15px
	background: #e4faff
	p
		font-size: 21px
.check
	text-align: center
	padding-left: 20px
	padding-top: 5px
	&:nth-child(odd)
		padding-left: 30px
	&:last-child
		padding-left: 50px
	span
		font-family: "OpenSans-Bold", sans-serif
		font-size: 21px
		color: #1d70b8

.price_economy,
.price_base,
.price_full
	padding: 15px
	font-size: 25px
	color: #fff
	line-height: 1
	text-align: center
	background: #00ade4
	border-right: 2px solid #fff
	border-left: 2px solid #fff
	border-top: 4px solid #fff
.price_full
	border-right: none

.present_form
	background: url(../img/bg_present.jpg)
	background-size: cover
	padding-bottom: 0
	h2
		color: #fff
		padding-top: 40px
		padding-bottom: 60px
	img
		position: relative
		box-shadow: 0px -15px 30px 5px rgba(0,0,0,0.75)
	p
		margin-top: 60px
		padding: 0
		color: #fff
		font-size: 16px
		margin-bottom: 25px
	input
		width: 80%
		background: #001b30
		border: 1px solid #00ccff
		padding: 15px
		margin: 5px 0
		&::placeholder
			color: #fff
		&:focus,
		&:enabled
			color: #fff
	button
		width: 80%
		background: #00ccff
		border: none
		padding: 15px 0
		margin-top: 5px
		color: #fff
		border-radius: 5px
		&:hover
			background: #00ccff * 0.9

/* Questions ----------------- */
.questions
	h2
		padding: 40px 0

.headerAcc
	border-top: 1px solid #fff 
	border-bottom: 1px solid #fff
	cursor: pointer
	font-size: 18px
	color: #009dd7
	padding: 5px 0
.headerAcc
.selected
	border-bottom: none !important
.contentAcc
	background: #fff
	color: #4e4e4e
	padding: 10px 15px

/* Contacts ----------------- */
.contacts
	background: url(../img/bg_contacts.jpg)
	background-size: cover
	min-height: 700px
	h2
		padding-top: 40px
		padding-bottom: 80px
		color: #fff

.contacts_wrap
	box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75)
	&_block
		padding: 20px 0
	&_info
		padding-top: 100px
		min-height: 396px
		background: $main-color
		&_img
			display: block
			margin: 0 20px 0 30px
			float: left
			width: 26px
			height: 26px
		p
			font-size: 14px
			font-weight: 300
			color: #fff
	&_form
		min-height: 396px
		background: #fff
		&_block
			padding: 80px 0 40px 30px
			p
				text-align: left
				font-size: 25px
				letter-spacing: 2px
				padding-bottom: 20px
			input
				background: none
				border: none
				border-bottom: 2px solid #4e4e4e
				border-radius: 0
				color: #4e4e4e
				text-align: center
				font-size: 18px
				font-family: "Montserrat-Light", sans-serif
				padding-top: 30px
				padding-bottom: 5px
				margin-bottom: 45px
				width: 100%
				&::placeholder
					color: #4e4e4e
				&:focus
					border-bottom: 2px solid $main-color
					color: $main-color
					transition: ease .4s
			textarea
				font-family: "Montserrat-Light", sans-serif
				font-size: 18px
				background: none
				width: 83%
				min-height: 170px
				border: 2px solid #4e4e4e
				border-radius: 0
				resize: none
				padding: 5px 10px
				&:focus
					color: $main-color
				&::placeholder
					color: #4e4e4e
					&:focus
						color: transparent
			.btn_form
				text-align: center
				text-transform: uppercase
				font-weight: 800
				font-size: 16px
				color: $main-color
				background: transparent
				padding: 20px 55px
				margin-top: 25px
				border: 2px solid $main-color
				&:hover
					transition: ease .3s
					background: $main-color
					color: #fff
	&_map
		min-height: 400px
		padding: 0
.contacts_form
	input
		width: 30%
		margin-right: 15px
		text-align: left
		padding-left: 5px
		border-bottom: 2px solid $main-color
		&::placeholder
			color: #7b7b7b
			font-family: "OpenSans-light", sans-serif
			font-weight: 300
			font-size: 15px
			text-align: left
	textarea
		overflow-x: hidden
		padding: 0
		min-height: 2px
		width: 97%
		border: none
		border-bottom: 2px solid $main-color
		padding-bottom: 5px
		padding-left: 5px
		&::placeholder
			font-weight: 300
			color: #7b7b7b
			font-size: 15px
			&:hover
				margin-top: 10px
		&:focus
			border-bottom: 2px solid $main-color
	button
		float: right
		background: transparent
		border: 2px solid $main-color
		text-transform: uppercase
		font-size: 14px
		color: $main-color
		letter-spacing: 1px
		padding: 15px 20px
		margin-top: 40px
		margin-right: 15px
		&:hover
			color: #fff
			background: $main-color

footer
	background: #012a40
	color: #aeaeae
	padding: 40px 0
	text-align: center
	a
		color: $main-color